body {color:#000;background:#979797; margin-top: 0px; font-family: arial,sans-serif;} 
//body {color:#000;background:#979797; text-align: center; font: 12px Arial, Helvetica, sans-serif; margin-top: 0px;} 
#header ,#centers ,#footer{ width:1024px; margin:0 auto; clear:both; overflow: hidden;}
#header{ height:65px; border-bottom:3px solid #333333; background: #ffffff; background-image:url('../pic/logo.png');background-repeat: no-repeat;}
#centers{ padding:0 0; border:0px solid #cccccc; font: 13px; background: #ffffff;}
#centers .c_left{ float:left; width:20%; background:#ffffff; margin-right:1px; }
#centers .c_right{ background:#ffffff; overflow:auto; min-height: 300px; overflow: hidden;}
#footer{ border:0px solid #cccccc; background:#ffffff; height: 68px; line-height: 30px; font-size: 12px;}

.model_item{background: #FFFFFF; margin: 3px 5px; padding: 3px; text-align: left; clear: both; border: 1px solid #74B2E2; overflow: auto;}
.model_title{ float: left; border-bottom: 1px solid #74B2E2; width: 100%; background: #ffffff; line-height: 30px; margin: 0px; font-size: 15px; font-weight: bold; clear: both;}
.model_input{ float: left; border: 1px solid #ffffff; background: #ffffff; width: 100%; margin: 0px; font-size: 12px; line-height: 30px}
.param_title{ float: left; margin-right: 5px; padding-left: 5px; font-weight: bold; width: 80px; background: #E4F1FB}
.param_value{ float: left; margin-right: 5px; padding: 5px auto 20px auto;}
.param_values {padding: 5px auto 20px auto;}

.status_text{border: 0px; margin: 0px;}
.status_tag{border: 0px; margin: 3px; background: #E4F1FB;}
.status_tag_text{font-size: 12px; font-weight: bold; padding: 5px 3px 5px 3px;}
.status_val{border: 0px; margin: 3px; background: #fafafa; padding: 5px 3px 5px 3px; text-align: center;}
.status_val_text{font-size: 12px;}

.tip_panel{text-align:left; font-size: 12px;line-height: 30px;margin-left: 10px;}
.ui-dialog-titlebar { height: .9em; }

.epoch_panel{width: 50%; background: #ffffff;height: 500px; margin: auto; padding: auto; border: 1px solid #999999;}
.modis_panel{width: 50%; background: #ffffff;height: 250px; margin: auto; padding: auto; border: 1px solid #999999;}
.epoch_title{background: #eeeeee; font-weight: bold; font-size: 13px; text-align: center;}
.panel_title{background: #EEEEFF; font-weight: bold; font-size: 12px; text-align: center;}
.panel_ndvi{width: 510px; height: 250px; background: url('loading.gif') no-repeat center center;}

.section_panel{border: 1px solid #999999; margin-top: 2px;}
.section_title{background: #DDDDFF; font-weight: bold; font-size: 13px; text-align: left;padding-left: 10px;}
.preview_panel{width: 250px; height: 250px; margin: auto; padding: 0px; border: 1px solid #999999; background: url('loading.gif') no-repeat center center;}
.map_panel{width: 720px; margin:0px; padding: 0px;}
.over_panel{width: 300px; margin: 0px; padding: 0px;}

.dlg_fixed{display: none; position: absolute;}

#dlg_user_register label {width: 200px; display: block; margin-top: 10px;}
#dlg_user_register #dlg_user_register input {display: block;}
#dlg_user_register #val_affiliation {width: 400px;}
#dlg_user_register #val_user_name {width: 110px;}
#dlg_user_register #val_email {width: 300px;}
#dlg_user_register #val_phone {width: 150px;}

#dlg_user_login label {display: block; margin-top: 10px;}
#dlg_user_login input {display: block;}

#dlg_points_add label {width: 200px; display: block; margin-top: 10px;}
#dlg_points_add input {display: block;}
#dlg_points_add #val_file_title {width: 250px;}
#dlg_points_add #val_file_upload {width: 300px;}

.olBingAttribution {display: none;}
.aerialwithlabels {display: none;}

.ui-dialog { z-index: 1000 !important ;}