body {color:#000;background:#979797; margin-top: 0px; font-family: arial,sans-serif;} 
.olBingAttribution {display: none;}
.aerialwithlabels {display: none;}
.ui-dialog { z-index: 100000 !important ;}
#header {margin: 0px; margin-top: 10px;}
.layersDiv {background-color: #7092ae !important;}
#subheader {height: 20px;}
